<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
</head>
<body>
  <%- include('../partials/header') %>
  
  <h2>Register</h2>
  
  <% if (error) { %>
    <p style="color: var(--primary-red); font-weight: bold;"><%= error %></p>
  <% } %>
  
  <form action="/auth/register" method="POST">
    <input type="text" name="username" placeholder="Choose a Username" required>
    <input type="password" name="password" placeholder="Choose a Password" required>
    <input type="submit" value="Register">
  </form>
  
  <p>Already have an account? <a href="/auth/login">Login</a></p>
  
  <%- include('../partials/footer') %>
  
</body>
</html>
