<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
</head>
<body>
  <h1>Worker Dashboard</h1>
  <ul>
    <li><a href="/worker/kitchen">Kitchen Orders</a></li>
    <li><a href="/worker/driver">Driver Deliveries</a></li>
  </ul>
</body>
</html>
