<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
</head>
<body>
  <h1>Thanks, <%= name %>!</h1>
  <p>Your message has been received. We’ll get back to you shortly.</p>
  <a href="/">Back to Home</a>
</body>
</html>
