<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
</head>
<body>
  <h1>Worker Portal</h1>

  <p>Welcome to the WeEat Worker Portal. Use the links below to navigate:</p>

  <ul>
    <li><a href="/worker/kitchen">Kitchen Orders</a></li>
    <li><a href="/worker/driver">Driver Deliveries</a></li>
  </ul>

  <p>More features coming soon!</p>

  <p><a href="/">Back to Home</a></p>
</body>
</html>
